@{
  Layout = "_Layout";
}

<h1>Welcome to the Doctors:</h1>
<p>@Html.ActionLink("See all Doctors", "Index", "Doctor")</p>

<p>@Html.ActionLink("See all Patients", "Index", "Patient")</p>
@* <p>@Html.ActionLink("Add new item", "Create", "Items")</p> *@